#macro(mainLayout)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/imageForm.css">
    <link rel="stylesheet" href="/css/userForm.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    #parse("/velocity/components/sidebar.vm")
    <div class="content" id="content">
        <main>
            $bodyContent
        </main>
        #parse("/velocity/components/footer.vm")
    </div>
    <script src="/javascript/sidebar.js"></script>
</body>
</html>
#end