#parse("/velocity/layout.vm")
#@mainLayout()
    <div>
        <form class="formLogin" action="/auth/" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" placeholder="Username" name="username" id="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit">Sign in</button>
        </form>
        <a href="/signup/">Create an account</a>
    </div>
    
#end