#parse("/velocity/layout.vm")
#@mainLayout()
#foreach($image in $images)
    <div class="image-div" >
        <img src="$image.getUrl()" alt="$image.getName()">
        <div>
            <span class="username"><a href="/imgs/$image.getUser_name()">$image.getUser_name()</a></span>
            <span class="imagename">$image.getName()</span>
        </div>
    </div>
#end
#end